#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: " ▲";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: " ▼";
}
